### Assignment 25th Feb

In [1]:
import pandas as pd

### Q1

In [3]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [7]:
df[1:2]

        course_name  duration
1  Machine Learning         3

### Q2

#### loc is typically used for lavel (row/column) based indexing and iloc typically used for index based indexing.

### Q3

In [69]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [3]:
new_df = df1.reindex([3,0,1,2])

In [4]:
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.339293  0.235786  0.966079  0.412674  0.635381  0.052703
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.234430  0.917772  0.688817  0.416778  0.125053  0.709987
2  0.539087  0.585496  0.807239  0.382336  0.750378  0.254093

In [6]:
new_df.loc[2]

column_1    0.539087
column_2    0.585496
column_3    0.807239
column_4    0.382336
column_5    0.750378
column_6    0.254093
Name: 2, dtype: float64

In [8]:
new_df.iloc[2]

column_1    0.234430
column_2    0.917772
column_3    0.688817
column_4    0.416778
column_5    0.125053
column_6    0.709987
Name: 1, dtype: float64

#### as we see here the loc method is work based on thir label so here loc return the condition (find 2nd label) so he find the 2nd lablel from this dataFrame or 2nd position where presnt at the Df is dose not matter what index he has only return the 2nd position/ label data all columns, Here iloc return the only 2nd index and with respect the 2nd index all column data.

### Q4

In [26]:
df1.mean()  # Find the of DF

column_1    0.469855
column_2    0.725655
column_3    0.567551
column_4    0.523516
column_5    0.657526
column_6    0.484914
dtype: float64

In [55]:
df1['column_2'].std() # find the standard deviation

0.27384633247303736

### Q5

In [72]:
df1.loc[2, 'column_2'] = 'abc'

In [78]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

#### here i am facing problem or error because i am not find the mean of this particular column because for calculating the mean we need numerical value but here string and number both are combined so its not possible to calculate the mean.

### Q6

#### window in a function in pandas. it will work some operation based on the widow (row) basis. we will specify the condition and based on the condition it will work operation

#### rolling
#### expanding
#### ewm

### Q7

In [4]:
import datetime
from datetime import date

In [12]:
date = datetime.datetime.now()

In [13]:
date

datetime.datetime(2023, 7, 2, 5, 3, 10, 279443)

In [14]:
current_date_Month = date.year , date.month

In [15]:
current_date_Month

(2023, 7)

### Q8

In [15]:
d1 = input("enter Date in yy/mm/dd")

enter Date in yy/mm/dd 2023/06/20

In [16]:
d2 = input("enter Date in yy/mm/dd")

enter Date in yy/mm/dd 2023/07/02

In [18]:
convert_date = pd.to_datetime([d1 , d2])

In [20]:
convert_date[1]- convert_date[0]

Timedelta('12 days 00:00:00')