### Assignment 7th Mar

### Q1

#### mean(), median(), mode()

### Q2

#### Mean is used to find the average of data, median is used to find the mid point or middle value of data, and mode is used to find or mesure the most occuring data. 
#### this all function is used to mesure the central of tendency with their formulas.

### Q3

In [4]:
import pandas as pd

In [6]:
df1 = pd.DataFrame({ 'val' : [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]})

In [7]:
df1.mean()

val    177.01875
dtype: float64

In [8]:
df1.median()

val    177.0
dtype: float64

In [9]:
df1.mode()

     val
0  177.0
1  178.0

### Q4

In [10]:
df1.std()

val    1.847239
dtype: float64

### Q5

#### in {{Range}} we can find the largest number and smallest number and with the help of this we can the diffrance of them.
#### [1,2,3,4,5]

#### here we can determine the smallest no is 1 and the largest no is 5. if we want to find the diffrance between 1-5 we can find the result 4, so we can say the diffrance between both no is 4.

#### {{Variance}} is also help us to find the dispersion between from the mean value. 

#### a = [6,4] b = [9,1]

#### min of both dataset is 5 

#### now if i found the dispersion of (a) dataset, we can see the dataset value is very near to mean where is the (b) dataset dispersion is very far to the mean.

#### {{Standard Deviation}} is used find the measure of dispersion of the dataset. std is also explain how data is spread / deviated from the mean. 

#### [1,2,3,4,5] here the mean is 3
#### Q. explain 4 is occuring at what deviation?
#### Ans :- 4 is occuring at the 1st right Standard Deviation.

### Q5

#### Venn diagram is pictorial representation of sets. Venn diagram is a widely used diagram style that shows the logical relation between sets

### Q6

In [13]:
import numpy as np

In [15]:
A = {2,3,4,5,6,7}
B = {0,2,6,8,10}

In [20]:
A.intersection(B)
# here we can see the intersection are printed from the both sets. intersection is 2 and 6 where 2 and 6 is present in the both sets.

{2, 6}

In [21]:
A.union(B)
# here we can see the union are printed from the both sets. union is combination of both sats values but value is not repeted. here all value are marged and printed.

{0, 2, 3, 4, 5, 6, 7, 8, 10}

### Q8

#### when mean median and mode are equal in a bell curve and it is a symmetrical curve we must understand that there is no skewnees is the dataset. we can say that this is a zero skewnees dataset. skewnees is two types positive and negative .

### Q9

#### mean > median so the median position will be left

### Q10

 #### covariance and correlation measure the relationship and the dependency between two variables. Covariance indicates the direction of the linear relationship between variables. Correlation measures both the strength and direction of the linear relationship between two variables.
 #### Correlation is a statistical measure that indicates how strongly two variables are related or depend on each other.

### Q11

In [2]:
import pandas as pd

In [2]:
pd.DataFrame({'Sample_data' : [10,20,30,40,50]})

   Sample_data
0           10
1           20
2           30
3           40
4           50

#### xbar = x of i / N
#### means sum of all sample_data value and divide by the no of total sample value

### Q12

#### for a normal distribution data the mean median mode will be the same or at the one place or cetral place.

### Q 13

#### Covariance indicates the direction of the linear relationship between variables. Correlation measures both the strength and direction of the linear relationship between two variables.

### Q14

#### if outliers is occur in the dataset it directly affted to the measure of measures of central tendency and measures of dispertion. 
#### like we are not getting proper range, std, mean, median, mode. 
#### if is not pridict properly about the dataset.

In [4]:
da = pd.DataFrame({'salary' : [100,2000,3000,4000,8000]})

In [5]:
da

   salary
0     100
1    2000
2    3000
3    4000
4    8000

In [6]:
da.mean()
# with outlier

salary    3420.0
dtype: float64

In [11]:
da.iloc[1: 4].mean()
# without outlier mean

salary    3000.0
dtype: float64

### here we can see the outcome of mean is so far with outlier. so outlier is effcted our prediction. so we must have to remove the outlier for proper and actual prediction.

#### here i am not explaining all the things i hope i am tryed to explain you the entire thing / concept.