### Assignment 16th Feb

### Q1

#### database is an organised collection of structured data or information. 

#### SQL stands for structured query language it is worked on relations, thats why we called sql is an relational database management system. sql works on raw and tables. sql have fixed schema or pattern. sql follow acid property. 

#### NOSQL is not depend on any relation thats why it is an non relational database. nosql dont have any schema or pattern means dynamic schema. nosql follow cap theoram.

### Q2

## DDL is data defination language in sql. this is a sub language it deals with objects in database.

### create() :->> create is used to create table, create database in database.

#### create database databaseName(myfirstdatabase)
#### create table tableName( column name with data type )

### drop :->> drop is used to drop / delete a particular table

#### drop tableName( column name with data type )

### alter :->> alter allow us to perform aultering operation in any objects of database. like add a raw, remove a raw etc.

#### ALTER TABLE table_name DROP cmark2
#### ALTER TABLE table_name RENAME COLUMN cmark1 to science
#### ALTER TABLE table_name RENAME to new_table 
### ALTER TABLE table_name ADD (cmark1 INT, cmark2 INT)

### truncate :->> is used to delete the table data / info after running the truncate command.

### Q3

### DML ->> is data Manipulation language, its deals with the database objects. it will allow us to Manipulate/changes database data.

#### insert ->> it is used to add data in table columns

#### 1. insert into table_name values 'ram'
#### 2. insert into table_name values ('ram', 20, 700252222332 )

### update ->> it will allow us to update the table data

#### update table_name set column_name='value' where age = 20

### delete ->> it help us to delete table data from database table

#### delete from table_name (for all table data deleting )
#### delete from table_name where age=10 (with a condition deleting )

### DQL ->> Data Query Language,  it is used to retrive information from database.

#### select * from table_name 
#### selct (name) from {maindata (table name)}

### Q5

### Primary Key

#### using primary key we will set the restriction of data in any columns. like primary key do not allow us to store duplicate values in applying columns as well as do not allow to store null values. means if a i will use primary key constraint in any columns i can not store any duuplicate and null value and also i have use primary key one time in a columns of a table.

#### alter table tablename modify/add column comlumn_name column_datatype primary key

### Foregin key

#### foregin key is a referance which can allow us to create relationship between two table with columns.

#### table1 columns:-  slno primary key, name, addess

#### table2 columns:-  dept_id unique key, name, addess

#### select * from table2 where dept_id in(select slno from table1 where name = 'sales' )

### Q6

ModuleNotFoundError: No module named 'mysql'

In [2]:
import mysql.connector
connection_name = mysql.connector.connect(
host = 'localhost',
user = 'abc',
password = 'password'
)

mycursor = connection_name.cursor()

mycursor.execute(' type here what you want execute ')

### for printing mycursor data 
for i in mycursor:
    print(i)

NameError: name 'mysql' is not defined

### cursor() ->> it is help us to read the data line by line. by the using of cursor we can find out the cursor actual position to find the spefic data. we can say we will print data using cursor.

### execute ->> it will help us to execute the functions / methods / database query.

### Q7

#### FROM: The FROM clause specifies the tables or views from which the data is retrieved. It identifies the data sources for the query.

#### WHERE: The WHERE clause is used to filter the rows based on specific conditions. It is applied after the FROM clause and before the other clauses.

#### GROUP BY: The GROUP BY clause is used to group the result set by one or more columns. It combines rows that have the same values in the specified columns.

#### HAVING: The HAVING clause is used to filter the grouped rows based on specific conditions. It is applied after the GROUP BY clause.

#### SELECT: The SELECT clause is used to specify the columns to be included in the result set. It retrieves the desired columns from the specified tables or views.

#### DISTINCT: The DISTINCT keyword is used to eliminate duplicate rows from the result set. It ensures that each row in the result set is unique.

#### ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns. It arranges the rows in a specified order (ascending or descending).

#### LIMIT/OFFSET: The LIMIT and OFFSET clauses are used for pagination or to restrict the number of rows returned by the query. The LIMIT clause specifies the maximum number of rows to be returned, while the OFFSET clause skips a specified number of rows before returning the results.