### Questoion no 1

## While loop

In [2]:
i = 5

In [3]:
while i>=0:
    print ( " Welcome ")
    i = i-1

 Welcome
 Welcome
 Welcome
 Welcome
 Welcome
 Welcome

## For Loop

In [13]:
list = [12, 14, 16, 17, 19, 21] 
list

[12, 14, 16, 17, 19, 21]

In [17]:
l2 = []
for i in list:
    print(i)

12
14
16
17
19
21

### Question no 2

### Sum using while loop

In [7]:
n = 0
Sum = 0
while n<10:
    # print("HI")
    n = n +1
    Sum = Sum + n
print(Sum)

55

### Product using while loop

In [9]:
n = 0
pro = 1
while n<10:
    # print("HI")
    n = n +1
    pro = pro * n
print(pro)

3628800

### Sum Using For Loop

In [ ]:
sum = 0

for i in range(1,11):
    sum = sum + i
print(sum)

### Product Using For Loop

In [2]:
pro = 1

for i in range(1,11):
    pro = pro * i
print(pro )

3628800

### Question no 3

 ### Electricty Bill Calculator

In [14]:
unit  = int(input("Enter Your Total consumed unit"))

if unit <= 100:
    Total_bill = unit * 4.5
if unit <= 200:
    Total_bill = 100 * 4.5 + (unit - 100) * 6
if unit <= 300:
    Total_bill = 100 * 4.5 + 100 *6 + (unit - 200) * 10
elif unit > 300:
    Total_bill = 100 * 4.5 + 100 *6 + 100*10 + (unit - 300 ) * 20
    
print(Total_bill)

Enter Your Total consumed unit 310

2250.0

### Question no 4

### list of numbers from 1 to 100. covert all in a qube and check is it divided by 4 and 5

### Using for Loop

In [8]:
list1 = list(range(1,101))
div_list = [] 

for i in list1:
    qube = i*i*i
    if qube%4==0 or qube%5==0:
        div_list.append(qube)
print(div_list)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

### Using While Loop

In [7]:
list2 = list(range(1,101))
i =0
div_list = []

while i < len(list2):
    i = i+1
    qube = i*i*i
    if qube%4==0 or qube%5==0:
        div_list.append(qube)
print(div_list)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

### Find the total no of vowel in the given string

In [1]:
string = "I want to become a data scientist"
vowel = 0

for i in string:
    if i == 'a' or i == 'e' or i == 'i' or i == 'I' or i == 'o' or i == 'u':
        vowel = vowel + 1
print("Total No of Vowel" , vowel)

Total No of Vowel 12